<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #demo {
            height: 300px;
            background-color: black;
        }
        #bubbleCanvas {
            position: absolute;
            left: 50%;
            margin-left: -150px;
            width: 300px;
        }
    </style>
</head>
<body>
    <div id="demo">
        <canvas id="bubbleCanvas"></canvas>
    </div>
    <script src="../js/Bubble.js"></script>
    <script>
    var bubble = new Bubble('#bubbleCanvas');
    </script>
</body>
</html>