<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS3做6面体特效</title>
    <link rel="stylesheet" href="../css/css3_reset.css">
    <link rel="stylesheet" href="../css/css3.css">
</head>
<body>
    <section class="container">
        <div id="cube" class=" show-left">
            <div class="front">1</div>
            <div class="back">2</div>
            <div class="right">3</div>
            <div class="left">4</div>
            <div class="top">5</div>
            <div class="bottom">6</div>
            </div>
    </section>
    <section id="options">
        <p id="show-buttons">
            <button class="show-front">Show 1</button>
            <button class="show-back">Show 2</button>
            <button class="show-right">Show 3</button>
            <button class="show-left">Show 4</button>
            <button class="show-top">Show 5</button>
            <button class="show-bottom">Show 6</button>
        </p>
        <p>
            <button id="toggle-backface-visibility">Toggle Backface Visibility</button>
        </p>
    </section>
</body>
</html>