<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>尝试测试推送到默认远端的功能</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .box {
            width: 500px;
            height: 500px;
            background: black;
            margin: 200px auto 0;
            cursor: pointer;
        }
    </style>
</head>
<body> 
    <ul class="container">
        <li class="item">天气真好001</li>
        <li class="item">天气真好002</li>
        <li class="item">天气真好003</li>
        <li class="item">天气真好004</li>
        <li class="item">天气真好005</li>
        <li class="item">天气真好006</li>
        <li class="item">天气真好007</li>
        <li class="item">天气真好008</li>
        <li class="item">天气真好009</li>
        <li class="item">天气真好010</li>
    </ul>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script>
        $(function() {
            $.each($('.item'), function(index, el) {
                $(el).on('click', function(e) {
                    alert(index);
                })
            })
        }) 
    </script>
</body>
</html>