<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>下拉刷新</title>
	<style>
		* {
			padding: 0;
			margin: 0;
		}
		html,
		body,
		.container {
			width: 100%;
			height: 100%;
			background-color: #000;
		}
		.box {
			margin-top: 50px;
			height: 40%;
			width: 100%;
			background-color: #fff;
			position: relative;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="box" id="box"></div>
	</div>
	<script src="../../bower_components/jquery/dist/jquery.js"></script>
	<script>
		$(function() {
			var startY;
			var $el = $('.box');
			var box = document.getElementById('box')
			box.addEventListener('touchstart', function(e) {
				e.preventDefault();
				console.log('---------start-------------')
				e = e.changedTouches ? e.changedTouches[0] : e;
				startY = e.pageY;

			})
			box.addEventListener('touchmove', function(e) {
				e.preventDefault();
				e = e.changedTouches ? e.changedTouches[0] : e;
                var offsetY = e.pageY - startY;
                if (offsetY >= 0 && $(window).scrollTop() === 0) {
                    var dampen = offsetY > 0 ? 2 : 4;
	                console.log(offsetY)
                    $el.css({
                        top: offsetY / dampen + 'px'
                    });
                }
			})
			box.addEventListener('touchend', function(e) {
				e.preventDefault();
				console.log('--------end--------')
				e = e.changedTouches ? e.changedTouches[0] : e;
				var offsetY = e.pageY - startY;
                if (offsetY >= 0) {
                    $el.animate({
                        top: '0px'
                    }, 200, 'linear', function() {
                        console.log(1)
                    });
                }
			})
			box.addEventListener('touchcancel', function(e) {
				console.log('-------cancel---------')
			})
		})
	</script>
</body>
</html>