<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>研究scroll事件</title>
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		.box {
			height: 100px;
			width: 200px;
			overflow: scroll;
			margin: 100px auto;
			background-color: gray;
		}
	</style>
</head>
<body>
	<div class="box">
		<ul class="lists">
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
			<li>item</li>
		</ul>
	</div>
</body>
</html>