* {
    margin: 0;
    padding: 0;
}

body {
    background: #e0e0e0;
    font-family: 'Helvetica Neue',Helvetica,'Lucida Grande',Arial,'Hiragino Sans GB',微软雅黑,'WenQuanYi Micro Hei',STHeiti,SimSun,sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}
.pc-img {
	width: 200px;
}
.mobile-img {
	width: 100px;
}
.icon {
	font-size: 14px;
	vertical-align: middle;	
}

/*内容部分*/
.main {
	width: 760px;
	margin: 10px auto;
	border-radius: 4px;
	padding: 15px 20px 20px;
	background-color: #f0f2f1;
}
.main-list {
	margin-top: 20px;
}
.header {
	position: relative;
	font-size: 24px;
    color: #00796b;
    line-height: 30px;
    border-bottom: 1px solid #00796b;
    padding-left: 30px;
}
.header > .icon {
	position: absolute;
	left: 0;
	font-size: 18px;
}
.content {
	margin: 15px 0 0 30px;
}
.content > li {
	color: #000;
	font-size: 16px;
}
.content span {
    font-size: 15px;
    line-height: 27px;
    color: #616161;
}

.stage {
	font-size: 19px;
	color: #004d40;
	margin: 25px 0 15px 5px;
}
.items {
	margin-left: 15px;
}
.item {
	border-left: 2px solid #00796b;
	padding: 0px 0 20px 20px;
	position: relative;
}
.link {
	border: 1px solid #4db6ac;
	padding: 0 5px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	margin-left: 5px;
	color: #4db6ac;
}
.link:active {
	color: #4db6ac;
}
.link .icon {
	font-size: 12px;
}
.item:before {
	content: ' ';
	height: 14px;
	width: 14px;
	border-radius: 100%;
	background: #00796b;
	position: absolute;
	left: -8px;
}
.item-name {
	position: relative;
	top: -4px;
	font-size: 18px;
    line-height: 24px;
}
.item-info {
	font-size: 15px;
	line-height: 22px;
	margin-top: 5px;
	color: #616161;
}
footer {
	margin: 30px 0 20px;
	text-align: center;
}
.record {
	color: #616161;
}