body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 
body {
    font-family: Arial, sans-serif;
}

.box {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid black;
}
.box div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.top {
    background-color: red;
    margin: 0 auto;
}
.right {
    margin: 100px 0;
    background-color: green;
    float: right;
}
.left {
    margin: 100px 0;
    background-color: blue;
}
.bottom {
    background-color: black;
    margin: 0 auto;
}
.box{
    animation: myfirst 5s infinite linear; /*infinite*/
    -moz-animation: myfirst 5s infinite linear; /* Firefox */
    -webkit-animation: myfirst 5s infinite linear;  /* Safari 和 Chrome */
    -o-animation: myfirst 5s infinite linear;   /* Opera */
}
@keyframes myfirst
{
    from {

    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    from {

    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    from {

    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes myfirst /* Opera */
{
    from {

    }
    to {
        -webkit-transform: rotate(360deg);
    }
}