@charset "utf-8";
html{background:#f7f7f7;}
/*抽屉*/
.dialog-pop{position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,0.5);display:none;}
.dialog-wrap{position:absolute;bottom:-100%;left:0;right:0;background:#fff;transition:bottom .2s;-webkit-transition:bottom .2s;}
.dialog-wrap .coupon ul{max-height:4.2rem;overflow:auto;}
.dialog-wrap .coupon .price,.dialog-wrap .coupon .name{background-image:url(../images/icon_coupon_dot.png);}
.nowrap{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
/*优惠券*/
.coupon{padding:.24rem;max-width:6.4rem;margin:auto;}
.coupon .title{font-size:.32rem;text-align:center;padding:0 0 .24rem;height:.6rem;line-height:.6rem;}
.coupon li{background:#f87483;padding:0 0 0 1.8rem;position:relative;height:1.2rem;margin:.24rem 0 0;color:#fff;overflow:hidden;}
.coupon li:first-child{margin:0;}
.coupon li.used,.coupon li.expired{background:#ddd;}
.coupon li.used .price,.coupon li.expired .price{background-color:#cacaca;}
.coupon li.used:before,.coupon li.expired:before{content:"";height:1.06rem;width:1.18rem;position:absolute;right:.1rem;bottom:.05rem;background:url(../images/icon_coupon_status.png) no-repeat left top;background-size:1.18rem 2.22rem;}
.coupon li.expired:before{background-position:0 -1.16rem;}
.coupon li.empty{background:none;color:#999;text-align:center;padding:.5rem 0;height:auto;}
.coupon li.empty .icon{width:2.2rem;height:1.91rem;display:block;margin:0 auto .5rem;}
.coupon .price,.coupon .name{background:url(../images/icon_coupon_dot.png) repeat-y -.03rem 0;background-size:.06rem .08rem;}
.coupon .price{width:1.8rem;text-align:center;position:absolute;left:0;top:0;bottom:0;padding:.15rem 0 0;background-color:#ec5365;}
.coupon .price .unit{font-size:.3rem;line-height:.3rem;display:inline-block;}
.coupon .price .num{font-size:.56rem;line-height:.56rem;display:inline-block;}
.coupon .tips{display:block;opacity:.7;font-size:.2rem;}
.coupon .name{overflow:hidden;padding:.15rem;background-position:right top;margin:0 -.03rem 0 0;}
.coupon .name h2{padding:.08rem 0;}
.coupon .soon{color:#feff8e;position:absolute;right:.5rem;bottom:.15rem;font-size:.2rem;}
.coupon .soon:before,.coupon .soon:after{content:'';height:1px;width:.25rem;background:#feff8e;right:100%;top:50%;position:absolute;margin:0 .05rem;}
.coupon .soon:after{right:auto;left:100%;}
.coupon .status{position:absolute;}
.coupon .status img{display:block;width:1.18rem;height:1.06rem;}
.coupon .radio{float:right;width:.4rem;height:.4rem;border-radius:50%;border:1px solid #fff;margin:.22rem 0 0;position:relative;}
.coupon .selected{background-color:#ee6675;}
.coupon .selected .radio:before{position:absolute;content:'';top:50%;left:50%;height:.22rem;width:.22rem;margin:-.11rem 0 0 -.11rem;background:#fff;border-radius:50%;}
.coupon .selected .price{background-color:#e5485a;}
.coupon-button{padding:.24rem 0;}
.coupon-button a{height:.62rem;line-height:.62rem;margin:0 auto;max-width:4.7rem;display:block;color:rgba(0,0,0,.9);text-align:center;border-radius:.1rem;}

/*购物车*/
.cart .empty{text-align:center;}
.cart .empty-icon{width:3.27rem;height:2.16rem;margin:1rem auto 0;display:block;}
.cart .empty-tit{color:rgba(0,0,0.65);margin:.6rem 0 0;}
.cart .empty-txt{font-size:.24rem;color:rgba(0,0,0,.44);}
.cart .empty-btn{padding:.35rem 0;}
.cart .empty-btn a{display:block;margin:0 1.4rem;border:1px solid #f15b82;color:#f15b82;line-height:.6rem;border-radius:.1rem;background-color:#fff;}

/*我的订单*/
.orders-nav ul{width:100%;background-color:#fff;display:box;display:-moz-box;display:-webkit-box;display:-ms-flexbox;-ms-flex-direction:row;-ms-flex-wrap: wrap;-ms-flex-pack:justify;}
.orders-nav li{border-bottom:.04rem solid transparent;position:relative;padding:.03rem 0 0;cursor:pointer;line-height:.64rem;text-align:center;margin:0 0 -1px;color:rgba(0,0,0,.65);box-flex:1.0;-moz-box-flex:1.0;-webkit-box-flex:1.0;-ms-box-flex:1.0;}
.orders-nav li.cur{border-bottom:.04rem solid #f15b82;color:#f15b82;}
.orders-nav .num{position:absolute;right:0;top:.02rem;min-width:.22rem;padding:0 .05rem;height:.32rem;line-height:.32rem;text-align:center;color:#fff;background:#fd507d;border-radius:.16rem;font-size:.2rem;}
.orders-box{padding:0 0 .24rem;overflow:hidden;}
.orders-box .empty{color:#999;text-align:center;padding:.5rem 0;height:auto;}
.orders-box .empty .icon{width:2.2rem;height:1.91rem;display:block;margin:0 auto .5rem;}
.orders-li{margin:.24rem 0 0;background-color:#fff;}
.orders-seller{display:block;position:relative;font-size:.24rem;padding:.1rem .4rem .1rem .24rem;height:.5rem;line-height:.5rem;color:rgba(0,0,0,.9);}
.orders-seller .avatar{height:.5rem;width:.5rem;border-radius:50%;float:left;margin:0 .1rem 0 0;}
.orders-seller .arrow,.orders-pro .arrow{border:solid #bbb;border-width:0 1px 1px 0;width:.17rem;height:.17rem;overflow:hidden;position:absolute;right:.24rem;top:50%;margin:-.085rem 0 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.orders-pro{position:relative;}
.orders-pro .item{padding:.16rem 0 0 .24rem;margin:0 0 -1px;}
.orders-pro .lef,.orders-info .lef{float:left;}
.orders-pro .pho{width:1.44rem;height:1.44rem;vertical-align:top;}
.orders-pro .rig{overflow:hidden;min-height:1.44rem;position:relative;}
.orders-pro .tit{padding:.25rem .24rem 0 .26rem;}
.orders-pro .txt{padding:.13rem .24rem .75rem .26rem;}
.orders-pro .pri{color:rgba(0,0,0,.65);padding:0 .24rem 0 .26rem;font-size:.24rem;}
.orders-pro .btn,.orders-info .btn,.orders-pro .btn:before,.orders-info .btn:before{border-color:#b3b2b2;color:rgba(0,0,0,.9);border-radius:.1rem;}
.orders-pro .btn{position:absolute;right:.24rem;bottom:.24rem;font-size:.24rem;height:.46rem;line-height:.46rem;padding:0 .12rem;}
.orders-pro .btnTxt{color:rgba(0,0,0,.65);border:0;}
.orders-pro .more{line-height:.7rem;text-align:center;color:rgba(0,0,0,.4);font-size:.24rem;}
.orders-info{overflow:hidden;padding:.2rem .24rem .2rem 0;font-size:.24rem;}
.orders-info .rig{float:right;}
.orders-info .pri{color:#f15b82;font-size:.32rem;}
.orders-info .txt{color:rgba(0,0,0,.65);margin:0 0 0 .24rem;line-height:.54rem;}
.orders-info .btn{margin:0 0 0 .1rem;height:.52rem;line-height:.52rem;padding:0 .15rem;}
.orders-info .btnRed{background:#f15b82;border-color:#f15b82;color:#fff;}
.orders-info .brderRed,.orders-info .brderRed:before{border-color:#f15b82;color:#f15b82;border-radius:.1rem;}
.orders-info .disabled{background:#ccc;border-color:#ccc;}

/*支付结果*/
.pay-result{}
.pay-result .status{text-align:center;padding:.5rem 0;}
.pay-result .status .icon{height:1.24rem;width:1.24rem;background:url(../images/icon_pay_result.png) no-repeat;background-size:1.24rem auto;margin:auto;}
.pay-result .status .iconError{background-position:0 -1.26rem;}
.pay-result .status .txt{font-size:.36rem;padding:.2rem 0 0;}
.pay-result .info{padding:.24rem;color:rgba(0,0,0,.9);font-size:.24rem;}
.pay-result .info .tit{font-size:.28rem;padding:0 0 .1rem;}
.pay-result .price{padding:.24rem;color:rgba(0,0,0,.65);}
.pay-result .price span{font-size:.32rem;color:#f15b82;}
.pay-result .button{padding:0 0 .3rem;}
.pay-result .button p{text-align:center;font-size:.2rem;color:rgba(0,0,0,.65);padding:.05rem 0;}
.pay-result .button a{border:1px solid #f15b82;color:#f15b82;display:block;margin:0 1.4rem;text-align:center;border-radius:.1rem;line-height:.7rem;height:.7rem;}
.pay-result .button a.gray{border-color:#acacac;color:rgba(0,0,0,.9);}
.pay-result .button a.red{background:#f15b82;color:#fff;line-height:.42rem;height:.64rem;padding:.03rem 0;}
.pay-result .button .time{display:inline-block;font-size:.16rem;line-height:.16rem;background:url(../images/icon_pay_time.png) no-repeat left center;background-size:.12rem .12rem;padding:0 0 0 .15rem;vertical-align:top;}



/*购物车*/
html{ background: #f7f7f7;}
.shoppingList{ background-color: #fff; margin-bottom: .24rem; overflow: hidden;}
.shoppingList dt{ position: relative; height: .74rem; line-height: .74rem; padding: 0 .24rem; overflow: hidden;}
.shoppingList dt .sellerImg{ display: inline-block; width: .52rem; height: .52rem; margin-top: .11rem; margin-right: .12rem; overflow: hidden; border-color: #d9d9d9; border-radius: 50%;}
.shoppingList dt .sellerImg:before{ border-color: #d9d9d9; border-radius: 50%;}
.shoppingList dt .sellerImg img{ display: block; width: .52rem;}
.shoppingList dt h2{ display: inline-block; font-size: .24rem; color: rgba(0,0,0,0.9); vertical-align: top;}

/*未选中和选中状态的圆圈，卖家区类名userToselect,userSelected,商品区goodsToselect,goodsSelected,全选allToselect,allSelected*/

/*说明：切换选中状态，只需要改变span的类， 如userToselect切换为userSelected  */
/*		切换为失效时，需要插入文本 “失效”，  同时改变类名 如userToselect变为failed*/

span.userToselect, span.goodsToselect, span.allToselect{ display: inline-block; float: left; width: .32rem; height: .32rem; border-color: #a8a8a8; border-radius: 50%; vertical-align: top;}
span.userToselect{ margin: .22rem .16rem 0 .02rem;}
span.goodsToselect{ margin: .41rem .16rem 0 .02rem;}
span.allToselect{ margin: .16rem .16rem 0 .04rem;}
span.userToselect:before, span.goodsToselect:before, span.allToselect:before{ border-color: #a8a8a8; border-radius: 50%;}
span.userSelected, span.goodsSelected, span.allSelected{ display: inline-block; float: left; position: relative; width: .32rem; height: .32rem; margin: .22rem .16rem 0 .02rem; background-color: #f15b82; border-radius: 50%; vertical-align: top; border: none;}
span.userSelected{ margin: .22rem .16rem 0 .02rem;}
span.goodsSelected{ margin: .41rem .16rem 0 .02rem;}
span.allSelected{ margin: .16rem .16rem 0 .02rem;}
span.userSelected:before, span.goodsSelected:before, span.allSelected:before{ border: none;}
span.userSelected::after, span.goodsSelected::after, span.allSelected::after{ content: ""; position: absolute; top: .06rem; left: .06rem; width: .14rem; height: .07rem; border: .03rem solid; border-color: transparent transparent #fff #fff; border-radius: .03rem; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg);}
	/*失效图标*/
span.failed{ display: inline-block; float: left; width: .44rem; line-height: .32rem; background-color: #bfbfbf; border-radius: .05rem; font-size: .18rem; color: #fff; text-align: center; margin: .49rem .06rem 0 0;}
span.failed:before{ border: none;}

.shoppingList dd{ padding: .2rem 0 0 .24rem; overflow: hidden;}
.shoppingList dd .chooseGoods{ float: left; clear: both; min-height: 1.44rem; margin-top: -.02rem; margin-bottom: .02rem; overflow: hidden;}
.shoppingList dd .chooseGoods img{ display: inline-block; float: left; width: 1.44rem; vertical-align: bottom;}
.shoppingList dd .goodsInfo{ padding: 0 .24rem 0 .16rem; min-height: 1.44rem; overflow: hidden;}
.shoppingList dd .goodsInfo h3{ font-size: .24rem; color: rgba(0,0,0,0.9); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.shoppingList dd:last-child .goodsInfo{border:0;}

.shoppingList dd .goodsInfo .numAndSize{ width: 2.66rem; float: left; overflow: hidden;}
.numAndSize h3{ font-size: .24rem; color: rgba(0,0,0,0.9); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.numAndSize .size{ line-height: .24rem; font-size: .24rem; color: rgba(0,0,0,0.65);}
.numAndSize .changeNum{ display: inline-block; margin-top: .12rem; overflow: hidden;}
.numAndSize .changeNum:before{ border-color: #b3b2b2; border-radius: .2rem;}
.numAndSize .failedToChange{ opacity: .3; filter: alpha(opacity=30);}
.numAndSize .changeNum li{ float: left; position: relative; width: .6rem; height: .48rem;}
.numAndSize .changeNum li .nowNum{ display: block; border: none; max-width: .5rem; text-align: center; line-height: .4rem; margin: .04rem auto 0; font-size: .24rem; color: rgba(0,0,0,0.9); overflow: hidden;}
.numAndSize .changeNum li i, .changeNum li s{ position: absolute; width: .22rem; height: .02rem; top: 50%; left: 50%; margin-top: -.01rem; margin-left: -.11rem; background-color: #7f7f7f;}
.numAndSize .changeNum li s::after{ content: ""; position: absolute; width: .02rem; height: .22rem; top: 50%; left: 50%; margin-top: -.11rem; margin-left: -.01rem; background-color: #7f7f7f;}

.shoppingList dd .goodsInfo .priceAndDel{ min-height: 1.44rem; text-align: right; overflow: hidden;}
.priceAndDel .nowPrice{ font-size: .24rem; color: #f15b82;}
.priceAndDel .nowPrice span{ padding-left: .04rem;}
.priceAndDel .oldPrice{ text-decoration: line-through; line-height: .24rem; font-size: .2rem; color: rgba(0,0,0,0.65);}
.priceAndDel strong{ display: block; float: right; width: .36rem; height: .35rem; background: url(../images/icon_delete.png) no-repeat 0 0; background-size: .36rem; margin-top: .18rem;}

.pay{ overflow: hidden; padding: .14rem .24rem .12rem;}
.pay h1{ display: inline-block; float: left; font-size: .28rem; color: rgba(0,0,0,0.9); margin-top: .12rem;}
.pay a{ display: block; float: right; min-width: 1.9rem; line-height: .72rem; text-align: center; border-radius: .1rem; font-size: .28rem; color: #fff; background-color: #f15b82; }
.pay .totalCost{ float: right; margin-right: .18rem; text-align: right;}
.pay .totalCost p{ font-size: .24rem; color: rgba(0,0,0,0.65); line-height: .32rem;}
.pay .totalCost p i{ font-size: .24rem; color: #f15b82; margin-right: .04rem;}
.pay .totalCost p s{ text-decoration: none; font-size: .32rem; color: #f15b82;}
.pay .totalCost p b{ font-weight: normal; font-size: .24rem; color: #f15b82;}
.pay .totalCost h6{ font-size: .2rem; color: rgba(0,0,0,0.65);}

/*确认订单*/
.userInfo{position:relative;background-color:#fff;padding:.2rem .24rem 0;overflow:hidden;}
.userInfo span{font-size:.28rem;color:rgba(0,0,0,0.9);margin-right:.4rem;line-height:.68rem;}
.userInfo i{font-style:normal;font-size:.28rem;color:rgba(0,0,0,0.9);}
.userInfo p{margin-top:.17rem;font-size:.24rem;color:rgba(0,0,0,0.9);max-height:1.44rem;margin:0 .44rem .41rem 0;overflow:hidden;}
.userInfo .borderImg{position:absolute;left:0;bottom:0;right:0;height:.07rem;background:url(../images/icon_borderImg.png) no-repeat 0 0;background-size:6.4rem;}

.arrowRight{position:absolute;top:50%;margin-top:-.09rem;right:.3rem;width:.15rem;height:.15rem;border:.03rem solid;border-color:#b2b2b2 #b2b2b2 transparent transparent;border-radius:.05rem;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);}

.orderList{margin-top:.24rem;background-color:#fff;overflow:hidden;}
.orderList dt{padding:0 .24rem 0;height:.74rem;line-height:.74rem;}
.orderList dt .sellerImg{display:inline-block;width:.52rem;height:.52rem;margin-top:.11rem;margin-right:.12rem;overflow:hidden;border-color:#d9d9d9;border-radius:50%;}
.orderList dt .sellerImg img{display:block;width:.52rem;}
.orderList h2{display:inline-block;font-size:.24rem;color:rgba(0,0,0,0.9);vertical-align:top;}

.orderList dd{padding: .2rem 0 0 .24rem;overflow:hidden;}
.orderList dd .goodsImg{float:left;width:1.44rem;min-height:1.44rem;}
.orderList dd .goodsImg img{vertical-align:bottom;width:1.44rem;}
.orderList dd .goodsInfo{ padding-left: .24rem;padding-right:.8rem;min-height:1.46rem;overflow:hidden;}
.orderList dd .goodsInfo h3{font-size:.28rem;color:rgba(0,0,0,0.9);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.orderList dd .goodsInfo p{font-size:.24rem;color:rgba(0,0,0,0.65);line-height:.24rem;}
.orderList dd .goodsInfo s{text-decoration:none;font-size:.24rem;color:rgba(0,0,0,0.65);margin-right:.18rem;line-height:.75rem;}
.orderList dd .goodsInfo i{font-style:normal;font-size:.24rem;color:rgba(0,0,0,0.65);}
.orderList dd:last-child .goodsInfo{border:0;}

.littleCount{padding:.22rem .24rem;text-align:right;background-color:#fff;overflow:hidden;}
.littleCount p.sentCost{font-size:.24rem;color:rgba(0,0,0,0.65);}
.littleCount p.sentCost i{display:inline-block;min-width:1.15rem;}
.littleCount p.countNum{font-size:.24rem;color:rgba(0,0,0,0.65);}
.littleCount p.countNum span{display:inline-block;min-width:1.15rem;font-size:.24rem;color:#f15b82;}

.leaveWords{margin-top:.24rem;padding:.2rem .24rem;background-color:#fff;overflow:hidden;}
.leaveWords .inputBox{overflow:hidden;}
.leaveWords .inputBox:before{border-color:#e5e5e5;border-radius:.2rem;}
.leaveWords input.sayToSeller{border:none;width:5.69rem;height:.64rem;padding-left:.2rem;}

.discountList{margin-top:.24rem;padding-left:.24rem;background-color:#fff;overflow:hidden;}
.discountList .cashCoupon{position:relative;line-height:.96rem;padding-right:.24rem;}	
.discountList strong{font-weight:normal;font-size:.28rem;color:rgba(0,0,0,0.9);}
.discountList .cashCoupon p{float:right;font-size:.24rem;color:rgba(0,0,0,0.65);margin-right:.44rem;}
.discountList .redBag{line-height:.96rem;padding-right:.24rem;}
.discountList .redBag p{float:right;font-size:.24rem;color:rgba(0,0,0,0.65);}
.discountList .redBag p span{position:relative;display:inline-block;width:.76rem;height:.46rem;background-color:#f15b82;border-radius:.8rem;vertical-align:top;margin-top:.25rem;margin-left:.14rem;}
.discountList .redBag p span::after{content:"";position:absolute;top:.03rem;right:.03rem;width:.4rem;height:.4rem;background:#fff;border-radius:50%;}
.discountList .redBag p span.offState{background-color:#d7d7d7;}
.discountList .redBag p span.offState::after{left:.03rem;}

.commitBtn{padding:0 .24rem 0 0;text-align:right;overflow:hidden;}
.commitBtn a.toCommit{display:block;float:right;width:1.9rem;line-height:.72rem;text-align:center;font-size:.28rem;color:#fff;background:#f15b82;border-radius:.1rem;margin-left:.2rem;}
.commitBtn p{font-size:.24rem;color:rgba(0,0,0,0.65);line-height:.32rem;}
.commitBtn p i{font-size:.24rem;color:#f15b82;margin-right:.04rem;}
.commitBtn p s{text-decoration:none;font-size:.32rem;color:#f15b82;}
.commitBtn p b{font-weight:normal;font-size:.24rem;color:#f15b82;}
.commitBtn del{display:block;font-size:.2rem;color:rgba(0,0,0,0.65);}

/*订单支付*/

.orderInfo{padding:.38rem .24rem .4rem;background-color:#fff;overflow:hidden;}
.orderInfo p{font-size:.24rem;color:rgba(0,0,0,0.65);}
.orderInfo span{font-size:.28rem;color:rgba(0,0,0,0.9);}
.orderInfo i{font-style:normal;font-size:.28rem;color:#f15b82;}

.payWay{margin-top:.24rem;background-color:#fff;overflow:hidden;}
.payWay li{position:relative;padding:.13rem  0 0 .24rem;overflow:hidden;}
.payWay li .payWayImg{width:.96rem;height:.96rem;float:left;margin-right:.24rem;}
.payWay li .payWayImg img{width:.96rem;vertical-align:bottom;}
.payWay li .payWayName{position:relative;line-height:.96rem;padding-bottom:.13rem;overflow:hidden;}
.payWay li a{position:absolute;top:0;left:0;right:0;bottom:0;}

/*待付款*/
.sellerArrow{ float: right;display: inline-block; width: .15rem; height: .15rem; margin-left: .12rem;margin-right: .24rem; border: .03rem solid; border-color: #b2b2b2 #b2b2b2 transparent transparent; border-radius: .05rem; transform: rotate(45deg); vertical-align: top; margin-top: .26rem;}
.contactSeller{float: right; line-height: .42rem; padding: 0 .16rem; margin-top: .16rem;}
.contactSeller:before{ border-color: #b3b2b2; border-radius: .15rem;}
.contactSeller i.chatIcon{ display: inline-block; width: .3rem; height: .22rem; margin-right: .08rem; background: url(../images/icon_chat.png) no-repeat 0 0; background-size: .3rem;}

.countCost{ padding: .24rem; background-color: #fff; overflow: hidden;}
.countCost ul.itemName{ float: right; font-size: .24rem; color: rgba(0,0,0,0.65); text-align: right;}
.countCost ul.itemNum{ float: right; font-size: .24rem; color: rgba(0,0,0,0.65); text-align: right;}
.countCost li s.greyMonney{ text-decoration: none; margin-right: .05rem;}
.countCost li s.redMonney{ text-decoration: none; margin-right: .05rem; color: #f15b82;}
.countCost li span{ font-size: .32rem; color: #f15b82; line-height: .36rem;}
.countCost li i{ font-style: normal; font-size: .24rem; color: #f15b82;}

.wordsAndNum{ font-size: .22rem; color: rgba(0,0,0,0.65); line-height: .73rem; padding-left: .24rem; background-color: #fff;}
.orderState{ float: left; line-height: .72rem; font-size: .22rem; color: rgba(0,0,0,0.65); padding-left: .24rem;}
.orderState span.order_state{ font-size: .22rem; color: #f15b82;}
a.payNowBtn{ float: right; width: 1.8rem; height: .72rem; background-color: #f15b82; text-align: center; border-radius: .1rem; margin-left: .16rem; margin-right: .24rem;}
a.payNowBtn h3{ font-size: .28rem; color: #fff; line-height: .52rem; margin-bottom: -.2rem;}
a.payNowBtn i{ padding-left: .18rem; font-size: .18rem; color: #fff; background: url(../images/icon_pay_time.png) no-repeat left center; background-size: .12rem;}
a.cancelOrderBtn{ float: right; width: 1.8rem; height: .72rem; text-align: center; line-height: .72rem; font-size: .28rem; color: rgba(0,0,0,0.9);}
a.cancelOrderBtn:before{ border-color: #c6c6c6; border-radius: .1rem;}

/*待收货，待点评*/
.orderList dd .goodsInfo h3.comment_h3{ margin-top: .24rem; margin-bottom: -.16rem;}
.fastmail_list{ padding: .28rem .24rem; background-color: #fff; overflow: hidden;}
.fastmail_list li{ font-size: .22rem; color: rgba(0,0,0,0.65);}
a.commentNow,a.sureToReceive{ float: right; width: 1.76rem; height: .68rem; border: .02rem solid #f16589; border-radius: .1rem; text-align: center; line-height: .68rem; font-size: .26rem; color: #f15b82; margin-left: .16rem; margin-right: .24rem;}
a.seeFastmail{ float: right; width: 1.76rem; height: .68rem; border: .02rem solid #acacac; border-radius: .1rem; text-align: center; line-height: .68rem; font-size: .26rem; color: rgba(0,0,0,0.9);}

.toobar{height:.98rem;width:100%;}
.toobar-wrap{background-color:#f7f7f7;height:.72rem;position:fixed;bottom:0;width:100%;max-width:6.4rem;padding:.13rem 0;}
.footer{display:none;}
/*官方客服入口*/
.contact-official{width: 100%;height:.7rem;line-height: .7rem;font-size: .24rem;margin-bottom: .24rem;background-color: #fff;}
.contact-official .official-logo{background: url("../images/official-logo.png");margin-left: .24rem;margin-right: .11rem;display: inline-block;height: .36rem;width: .36rem;vertical-align: -.08rem;}