@font-face {
	font-family: "iconfont";
	src: url('./iconfont.eot');
	src: url('./iconfont.eot?#iefix') format('eot'),
		url('./iconfont.woff') format('woff'),
		url('./iconfont.ttf') format('truetype'),
		url('./iconfont.svg#iconfont') format('svg');
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-add:before {
	content: "\E001";
}

.icon-css3:before {
	content: "\E002";
}

.icon-email:before {
	content: "\E003";
}

.icon-github:before {
	content: "\E004";
}

.icon-gulp:before {
	content: "\E005";
}

.icon-javascript:before {
	content: "\E006";
}

.icon-link:before {
	content: "\E007";
}

.icon-mark:before {
	content: "\E008";
}

.icon-nodejs:before {
	content: "\E009";
}

.icon-qq:before {
	content: "\E00A";
}

.icon-wechat:before {
	content: "\E00B";
}

