<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="msapplication-tap-highlight" content="no" />
	<link rel="stylesheet" href="../../../dist/css/summer/task2.css">
	<script src="../../js/base/setFontSize.js"></script>
	<title>漂亮的宣传手册</title>
</head>
<body>
	<div id="wrapper">
		<div class="ascend"></div>
		<ul class="slides">
			<li class="slide" data-index="1"></li>
			<li class="slide" data-index="2"></li>
			<li class="slide" data-index="3"></li>
			<li class="slide" data-index="4"></li>
			<li class="slide" data-index="5"></li>
		</ul>
		<div class="descend"></div>
	</div>
	<script src="../../../bower_components/zepto/zepto.min.js"></script>
	<script src="../../../bower_components/zepto/animate.js"></script>
	<script src="../../js/summer/task2.js"></script>
</body>
</html>