<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="../../../bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/summer/task1.css">
    <title>我的移动名片</title>
</head>
<body>
    <div class="bg-middle">
        <div class="bg-front">
            <div class="wrapper">
                <header>
                    <h3>郑俊鑫的移动名片</h3>
                </header>
                <section>
                    <img src="" alt="头像" class="avatar">
                    <ul class="info">
                        <li>
                            <dt></i>个人资料</dt>
                            <dd><span>姓名：</span>郑俊鑫</dd>
                            <dd><span>学校：</span>北京邮电大学</dd>
                            <dd><span>公司：</span>美啦</dd>
                            <dd><span>描述</span>喜欢前端</dd>
                        </li>
                        <li>
                            <img src="" alt="生活图片">
                        </li>
                        <li>
                            <dt>兴趣爱好</dt>
                            <dd><span>看书：</span>三体，大秦帝国</dd>
                            <dd><span>运动：</span>跑步，打篮球</dd>
                        </li>
                        <li>
                            <dt>技能</dt>
                            <dd><span>前端：</span>熟悉HTML, CSS，有使用Less经验；了解JavaScript</dd>
                            <dd><span>自动化工具：</span>熟悉Gulp, 用使用Grunt经验</dd>
                            <dd><span>后端：</span>了解PHP，Java。有Smaty模板的使用经验</dd>
                            <dd><span>开发环境：</span>有使用OSX开发环境，熟悉Windows，Linux开发环境</dd>
                        </li>
                        <li>
                            <img src="" alt="毕业图片">
                        </li>
                    </ul>
                </section>
                <footer>
                    <p class="h4">by郑俊鑫</p>
                </footer>
            </div>
        </div>
    </div>
    <script>
        (function () {
            window.document.documentElement.style.fontSize = '100px';
        })()
    </script>
    <!-- bower:js -->
    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
</body>
</html>