<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="msapplication-tap-highlight" content="no" />
	<link rel="stylesheet" href="../../css/summer/task2.css">
	<link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
	<script src="../../js/base/setFontSize.js"></script>
	<title>漂亮的宣传手册</title>
</head>
<body>
	<div id="wrapper">
		<ul class="slides">
			<li class="slide-1 slide">
				<img class="avatar" src="../../images/sm_avatar.png" alt="头像">
				<dl class="info">
					<dt><i class="fa fa-bookmark"></i>个人资料</dt> 
					<dd><span><i class="fa fa-user"></i>姓名：</span>郑俊鑫</dd>
					<dd><span><i class="fa fa-graduation-cap"></i>学校：</span>北京邮电大学</dd>
					<dd><span><i class="fa fa-github"></i>Github：</span>JoeZheng2015</dd>
					<dd><span><i class="fa fa-envelope-o"></i>邮箱：</span>zheng.junxin@outlook.com</dd>
					<dd><span><i class="fa fa-qq"></i>QQ：</span>769191296</dd>
				</dl>
			<li class="slide-2 slide hide">
				<ul class="skills">
					<li class="moveFromTop">
						<img src="../../images/icon/html.png" alt="html">
						<div>
							熟悉HTML
						</div>
					</li>
					<li class="moveFromRight">
						<img src="../../images/icon/css.png" alt="css">
						<div>
							熟悉CSS
						</div>
					</li>
					<li class="moveFromLeft">
						<img src="../../images/icon/css3.png" alt="css3">
						<div>
							熟悉HTML5
						</div>
					</li>
					<li class="moveFromBottom">
						<img src="../../images/icon/js.png" alt="js">
						<div>
							熟悉JS
						</div>
					</li>
				</ul>
			</li>
			<li class="slide-3 slide hide">
				<ul class="skills">
					<li>
						<img src="../../images/icon/nodejs.png" alt="js">
						<div></div>
					</li>
					<li>
						<img src="../../images/icon/gulp.png" alt="js">
						<div></div>
					</li>
					<li>
						<img src="../../images/icon/bower.png" alt="js">
						<div></div>
					</li>
					<li>
						<img src="../../images/icon/yeoman.png" alt="js">
						<div></div>
					</li>
				</ul>
			</li>
			<li class="slide-4 slide hide">
				<ul class="books">
					<li>
						<div class="img-box">
							<img src="../../images/icon/advanced.jpg" alt="高级程序设计">
						</div>
						<div>1111111111</div>
					</li>
					<li>
						<div class="img-box">
							<img src="../../images/icon/js.jpg" alt="权威指南">
						</div>
						<div></div>
					</li>
					<li>
						<div class="img-box">
							<img src="../../images/icon/goodpart.jpg" alt="语言精粹">
						</div>
						<div></div>
					</li>
				</ul>
			</li>
			<li class="slide-5 slide hide"></li>
		</ul>
		<div class="arrow">
			<span></span>
		</div>
	</div>
	<script src="/bower_components/zepto/zepto.min.js"></script>
	<script src="/bower_components/zepto/animate.js"></script>
	<script src="../../js/summer/task2.js"></script>
</body>
</html>