<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/summer/warmUp.css">
</head>
<body>
    <div class="container">
        <div class="box item" data-tab="caltivate">
            <p class="tab">人才培养</p>
            <div class="content">
                <h5>人才培养</h5>
                <ul>
                	<li><span>以前是通信届的黄埔军校</span></li>
                	<li><span>现在在互联网也搞的风生水起</span></li>
                </ul>
            </div>
            <div class="box-bg"></div>
        </div>
        <div class="box item" data-tab="work">
            <p class="tab">北邮校训</p>
            <div class="content">
                <h5>北邮校训</h5>
                <ul>
                	<li><span>厚德、博学、敬业、乐群。</span></li>
                </ul>
            </div>
            <div class="box-bg"></div>
        </div>
        <div class="box zoom">
            <p class="tab">北邮简介</p>
            <div class="content">
                <h5>北邮简介</h5>
                <ul>
                	<li><span>其宏福校区位于温都水城，毗邻中央戏剧学院</span></li>
                	<li><span>本部靠近北京师范大学和北京电影学院，可谓得天独厚</span></li>
                	<li><span>然而并没有什么卵用,因为我们有Dota!</span></li>
                </ul>
            </div>
            <div class="box-bg"></div>
        </div>
        <div class="box item" data-tab="cooperate">
            <p class="tab">北邮校徽</p>
            <div class="content">
                <h5>北邮校徽</h5>
                <ul>
                	<li><span>图案内以鸿雁象征邮，以右下方半圆形天线象征电</span></li>
                	<li><img src="http://h.hiphotos.baidu.com/baike/s%3D500/sign=fa450ce49a25bc312f5d01986ede8de7/d000baa1cd11728b90a05508cbfcc3cec3fd2c0f.jpg" alt="校徽"></li>
                </ul>
            </div>
            <div class="box-bg"></div>
        </div>
        <div class="box item" data-tab="hire">
            <p class="tab">北邮校友</p>
            <div class="content">
                <h5>北邮校友</h5>
                <ul>
                	<li><span>唐骏：原微软中国总裁，微软中国研究院院长。</span></li>
                	<li><span>刘成城：36氪创始人，CEO。</span></li>
                </ul>
            </div>
            <div class="box-bg"></div>
        </div>
        <div class="box item" data-tab="research">
            <p class="tab">北邮校史</p>
            <div class="content">
                <h5>北邮校史</h5>
                <ul>
                	<li><span>1955年，以天津大学电讯系、电话电报通讯和无线电通信广播两个专业及重庆大学电机系电话电报通讯专业为基础组建北京邮电学院，成为新中国第一所邮电高等学府，隶属国家邮电部。</span></li>
                </ul>
            </div>
            <div class="box-bg"></div>
        </div>
        <div class="box item" data-tab="window">
            <p class="tab">北邮美食</p>
            <div class="content">
                <h5>北邮美食</h5>
                <ul>
                	<li><span>学四旁边的鸡蛋灌饼好好吃^_^</span></li>
                </ul>
            </div>
            <div class="box-bg"></div>
        </div>
        <div class="box item" data-tab="message">
            <p class="tab">院系介绍</p>
            <div class="content">
                <h5>院系介绍</h5>
                <ul>
                	<li><span>北京邮电大学信息与通信工程学院</span></li>
                	<li><span>北京邮电大学国际学院</span></li>
                	<li><span>北京邮电大学电子工程学院</span></li>
                	<li><span>北京邮电大学计算机学院</span></li>
                </ul>
            </div>
            <div class="box-bg"></div>
        </div>
        <div class="box item" data-tab="service">
            <p class="tab">北邮秘密</p>
            <div class="content">
                <h5>北邮秘密</h5>
                <ul>
                	<li><span>北邮的网一点都不快</span></li>
                	<li><span>我编不下去了...</span></li>
                </ul>
            </div>
            <div class="box-bg"></div>
        </div>
    </div>
    <ul class="bg">
        <li><img src="../../images/summer/warmUp/img1.jpg" alt="image"></li>
        <li><img src="../../images/summer/warmUp/img2.jpg" alt="image"></li>
        <li><img src="../../images/summer/warmUp/img3.jpg" alt="image"></li>
        <li><img src="../../images/summer/warmUp/img4.jpg" alt="image"></li>
        <li><img src="../../images/summer/warmUp/img5.jpg" alt="image"></li>
    </ul>
    <script src="../../js/summer/warmUp.js"></script>
</body>
</html>
