* {
    margin: 0;
    padding: 0;
}

body {
    background: #e0e0e0;
    font-family: 'Helvetica Neue',Helvetica,'Lucida Grande',Arial,'Hiragino Sans GB',微软雅黑,'WenQuanYi Micro Hei',STHeiti,SimSun,sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

aside {
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 2;
}

aside li {
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px;
    background: #00bfa5;
    float: right;
    clear: right;
}

aside a {
    color: #fff;
    display: inline-block;
    width: 80px;
    height: 38px;
    overflow: hidden;
    line-height: 38px;
    padding-left: 10px;
}

aside a span:last-child {
    display: none
}
.container {
    position: relative;
    margin: 10px auto;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.2);
    width: 1060px;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    top: 0;
    width: 300px;
    padding: 15px 15px 10000px;
    background: #00bfa5;
    color: #fff;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -10000px;
}

.sidebar a {
    color: #fff;
}

.title {
    margin: 25px 0 20px;
    text-align: center;
}

.title img {
    display: block;
    margin: 0 auto 15px;
    width: 120px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 14px;
}

.side-info li {
    padding-top: 20px;
}

.side-info dt {
    font-size: 18px;
    color: #9f3;
    line-height: 40px;
}

.side-info dd {
    font-size: 14px;
    line-height: 20px;
}

.someRight dd {
    margin-left: 25px;
}

.someRight .qrcode {
    width: 200px;
}

.skill {
    position: relative;
}

.skill-name {
    width: 100px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    left: 25px;
    top: -3px;
}

.skill-bar-wrap {
    height: 17px;
    width: 150px;
    background: #00796b;
    display: inline-block;
    border-radius: 20px;
}

.skill-bar {
    height: 17px;
    background: #fff;
    border-radius: 20px 0 0 20px;
}

.note {
    text-indent: 2em;
    margin-top: 90px;
    color: #004d40;
    font-size: 18px;
}

.main-info {
    margin-left: 300px;
    width: 720px;
    padding: 15px 20px 10000px;
    background: #f0f2f1;
    margin-bottom: -10000px;
}
.main-info a {
    color: #000;
}
.main-info a:hover {
    color: #4db6ac;
}
.main-info > li {
    padding-top: 20px;
}
.main-info dt {
    font-size: 24px;
    color: #00796b;
    line-height: 30px;
    border-bottom: 1px solid #00796b;
    margin: 0 0 15px -5px;
}

.main-info dd {
    font-size: 15px;
    line-height: 27px;
    color: #616161;
}

.main-info span {
    color: #000;
    font-size: 16px;
}

h3 {
    font-size: 18px;
    color: #004d40;
    margin: 0 0 15px 5px;
}

h4 {
    line-height: 30px;
    font-size: 18px;
    color: #000;
}
.pro-title {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}
.demo-title {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}
h5 {
    clear: both;
    font-size: 16px;
    color: #000;
    line-height: 25px;
}

.circle {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: #00796b;
    float: left;
    position: absolute;
    left: -28px;
    top: 5px;
}

.exp {
    border-left: 2px solid #00796b;
    margin-left: 15px;
}

.exp .title {
    font-weight: bold;
}
.main-info h3 span {
    color: #616161;
    font-size: 12px;
}
.exp p {
    font-size: 15px;
    color: #616161;
    line-height: 23px;
}

.exp > li {
    position: relative;
    top: -5px;
    margin: 0 0 25px 20px;
}

.exp img {
    width: 200px;
}

.efe > li {
    margin: 0 0 12px 20px;
}
.footer {
    margin: 30px 0 20px;
    text-align: center;
}
.footer a {
    color: #616161;
}

.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}